$theme-colors: (
  "warning": #fed330,
  "danger": #ee5253
);

//Import
@import "bootstrap/bootstrap";

//Main
body {
	background: $gray-100;
}

//Custom
.custom-control {
	margin-right: -0.5rem;
}

.font-weight-bold, .alert-link, strong {
	font-weight: 500 !important;
}

code {
	font-size: 100%;
}

.close {
	font-size: 1rem;
    line-height: 1.5rem;
}

.btn {
	@include button-size($btn-padding-y + 0.125rem, $btn-padding-x + 0.125rem, $btn-font-size, $btn-line-height, $btn-border-radius * 1.5);
	border: {
		width: 0rem;
	}
}

#delAll {
	&:hover {
		animation: shake 0.4s;
	}
}

nav {
	opacity: 0.85;
	backdrop-filter: blur(0.625rem);
}

@mixin text-color($direction, $start-color, $end-color) {
	background: linear-gradient($direction, $start-color, $end-color);
	-webkit-background-clip: text;
	color: transparent;
}

//more CSS/SCSS
footer {
	.costum {
		background-color: darken($gray-100, 5%);
		bottom: 0rem;
		position: relative;
		transition: ease .2s;
		box-shadow: none;
		border: {
			style: dashed;
			color: lighten($indigo, 30%);
		}

		svg {
			color: $blue;
			transition: ease .2s; 
			animation: spin 2.5s infinite;
		}

		.card-title {
			@include text-color(to left, $blue, $pink);
		}

		&:hover {
			bottom: (0.625rem / 2);
			position: relative;
			box-shadow: 0rem (0.625rem / 3) 0.625rem $gray-400;

			.card-title {
				@include text-color(to right, $blue, $pink);
			}

			svg {
				color: $pink;
			}
		}
	}
}

//keyframes for spinning svg
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes shake {
  10%, 80%, 90% {
    transform: translate3d(-0.125rem, 0, 0);
  }
  
  20%, 70% , 100% {
    transform: translate3d(0.125px, 0, 0);
  }

  30%, 60% {
    transform: translate3d(-0.25rem, 0, 0);
  }

  40%, 50% {
    transform: translate3d(0.25rem, 0, 0);
  }
}